.nav li {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
}

.nav ul {
	text-align: center;
	width: 200%;
}

.nav a {color: #D4E7ED;
	background-color: #74A6BD;
	padding: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav a:hover {
	color: #D4E7ED;
	background-color: #32292F;
}

.nav .is-current {color: #32292F;
	background-color: #D4E7ED;
}